Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^(web)
#RewriteRule ^(assets|css|js|images|fonts)/(.*)$ /web/$1/$2 [L]
RewriteRule (.*) web/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . web/index.php