/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.08.2016, 9:52:45
    Author     : user
*/
.wripper{
    margin-top: 20px;
    font-size: 16px;
    #tree{
        border: 1px solid blue;
        padding: 10px 5px 10px 15px; 
        list-style: none;
        position:relative;
    }
    .isRoot{
        margin-left:0;
    }
    .child{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
    
    .Node{
        margin-left: 18px;
        background-image : url(../images/i.gif);
	background-position : top left;
	background-repeat : repeat-y;
    }
    .Expand{
        width: 18px;
        height: 18px;
        float: left;
    }
    .Content{
        cursor: default;
        display: inline-block;
    }
    .ExpandOpen .Expand { 
        background-image: url(../images/expand_minus.gif); 
    }
    .ExpandClosed .Expand {
        background-image: url(../images/expand_plus.gif);
    }
    
    .ExpandLeaf .Expand {
        background-image: url(../images/expand_leaf.gif);
    }
    .child>li.ExpandLeaf:last-child, .child>li.ExpandClosed:last-child, .child>li.ExpandOpen:last-child{
        background-image: url(../images/i_half.gif);
        background-repeat : no-repeat;
    }
    .ExpandOpen .child{
        display: block;
    }
    .ExpandClosed .child{
        display: none;
    }
    .ExpandOpen .Expand, .ExpandClosed .Expand {
	    cursor: pointer; 
	}
	.ExpandLeaf .Expand {
	    cursor: auto; 
	}
        input.Content{
            border: 2px solid blue;
            cursor: text;
        }
}
.menu{
    position: absolute;
    top:20px;
    left:50px;
    border: 1px solid black;
    background: #ccc;
    min-width: 100px;
    color: green;
    display:none;
    z-index:100;
    .add, .delete{
        cursor: pointer;
    }
}
.move{
    border: 1px dashed gray;
    opacity: 0.5;
    color:red;
    display: inline-block;
    position: absolute;
    background: #ddd;
}