/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.08.2016, 9:52:45
    Author     : user
*/
.wripper {
  margin-top: 20px;
  font-size: 16px;
}
.wripper #tree {
  border: 1px solid blue;
  padding: 10px 5px 10px 15px;
  list-style: none;
}
.wripper .isRoot {
  margin-left: 0;
}
.wripper .child {
  padding: 0;
  margin: 0;
}
.wripper .child li {
  list-style: none;
}
.wripper .Node {
  margin-left: 18px;
  background-image: url(../images/i.gif);
  background-position: top left;
  background-repeat: repeat-y;
}
.wripper .Expand {
  width: 18px;
  height: 18px;
  float: left;
}
.wripper .Content {
  cursor: default;
  display: inline-block;
}
.wripper .ExpandOpen .Expand {
  background-image: url(../images/expand_minus.gif);
}
.wripper .ExpandClosed .Expand {
  background-image: url(../images/expand_plus.gif);
}
.wripper .ExpandLeaf .Expand {
  background-image: url(../images/expand_leaf.gif);
}
.wripper .child > li.ExpandLeaf:last-child,
.wripper .child > li.ExpandClosed:last-child,
.wripper .child > li.ExpandOpen:last-child {
  background-image: url(../images/i_half.gif);
  background-repeat: no-repeat;
}
.wripper .ExpandOpen .child {
  display: block;
}
.wripper .ExpandClosed .child {
  display: none;
}
.wripper .ExpandOpen .Expand,
.wripper .ExpandClosed .Expand {
  cursor: pointer;
}
.wripper .ExpandLeaf .Expand {
  cursor: auto;
}
.wripper input.Content {
  border: 2px solid blue;
  cursor: text;
}
.menu {
  position: absolute;
  top: 20px;
  left: 50px;
  border: 1px solid black;
  background: #ccc;
  min-width: 100px;
  color: green;
  display: none;
  z-index: 100;
}
.menu .add,
.menu .delete {
  cursor: pointer;
}
.move {
  border: 1px dashed gray;
  opacity: 0.5;
  color: red;
  display: inline-block;
  position: absolute;
  background: #ddd;
}
.drop-el {
  background: blue;
}
