/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.08.2016, 9:52:45
    Author     : user
*/
.wripper{
    margin-top: 20px;
    #tree{
        border: 1px solid blue;
        padding: 10px 5px 10px 15px; 
        list-style: none;
    }
    .isRoot{
        margin-left:0;
    }
    .child{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
    
    .Node{
        margin-left: 18px;
        background-image : url(../images/i.gif);
	background-position : top left;
	background-repeat : repeat-y;
    }
    .Expand{
        width: 18px;
        height: 18px;
        float: left;
    }
    .Content{
        cursor: move;
        display: inline-block;
    }
    .ExpandOpen .Expand { 
        background-image: url(../images/expand_minus.gif); 
    }
    .ExpandClosed .Expand {
        background-image: url(../images/expand_plus.gif);
    }
    
    .ExpandLeaf .Expand {
        background-image: url(../images/expand_leaf.gif);
    }
    .child>li.ExpandLeaf:last-child, .child>li.ExpandClosed:last-child, .child>li.ExpandOpen:last-child{
        background-image: url(../images/i_half.gif);
        background-repeat : no-repeat;
    }
    .ExpandOpen .child{
        display: block;
    }
    .ExpandClosed .child{
        display: none;
    }
    .ExpandOpen .Expand, .ExpandClosed .Expand {
	    cursor: pointer; 
	}
	.ExpandLeaf .Expand {
	    cursor: auto; 
	}
}
